body {
    margin:0;
    color:#ffffff;
}
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: calc(100% - 150px);
    background: #000000;
    padding: 0 75px 0 75px;
    text-align: center;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}
#button_header {
    background-color: #d74747;
    border-radius: 50px;
    height: 50px;
    margin: 5px;
    padding-left: 25px;
    padding-right: 25px;

}

.main_banner {
    margin-top:60px;
    background-image: url('../content/img/SUV-4200.jpg');
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    background-size: 100vw auto;
    background-repeat: no-repeat;
}
.main_banner #logo_SA img{
    height:40px;
}
.main_banner #banner_content{
    padding-top:40px;
    font-family:Courier New,Courier,monospace;
    font-size: 32px;
    padding-left:10px;
}

#logo_header img {
    padding-top: 10px;
    width: 150px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.head {
    height: 50px;
    margin: 5px 0 5px 0;
    padding: 0px 10px 0px 10px;
}
.head .select{
    margin-top:15px;
}
.head:hover {
    cursor: pointer;	
    color:#db4040;
}
.main_banner_content{
    margin-top:180px;
    margin-left:50px;
    width:400px;
}
.main_banner #button_banner{
    background-color:#d74747;
    margin-top:30px;
    padding:10px 25px 10px 25px;
}
button {
    border-radius: 50px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0;
}
.aboutus {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
}
.aboutus_video {
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.aboutus_video video{
    width:100%;
    height:100%;
    opacity: 0.3;
    
}
.aboutus_content {
    top:20%;
    left:15%;
    position: absolute;
    text-align: center;
    width: calc(70%);
}
.aboutus_content div{
    font-size:35px;
    font-weight: bold;
}
.aboutus_content p{
    margin-top:50px;
    font-size:20px;

}
.technology{
    width:100%;
    height:calc(100vh - 60px);
}
.left_technology {
    width: 25%;
    margin-left: 10%;
}
.center_technology {
    width: 30%;
}
.right_technology {
    width: 30%;
}
.left_technology img{
    width:100px;
    height:auto;
}

.left_technology h1 {

    font-size: 32px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.left_technology p {
    width:80%;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.main_technology {
    color:#000000;
    margin-top:5%;
    float: left;
    height: 80%;
}
.technology_logo{
    float:left;
}
.technology_logo img{
    width:100px;
    background-repeat:no-repeat;
}
.parameter {
    width: 100%;
    height: 150vh;
    background-color: #000000;
    padding: 5%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
.parameter .logo_parameter {
    width: 30%;
    height:100%;
    float: left;
}
.parameter .logo_parameter img{
    width:100%;
    height:auto;
}
.parameter .content_parameter{
    float:left;
    padding-left:10%;
    width:50%;
    height:100%;
    text-align: left;
}
.parameter .content_parameter h1 {
    font-size: 35px;
}
.parameter .content_parameter table td{
    padding:5px;
}
.parameter .content_parameter table td p {
    padding: 20px;
    font-weight: normal;

}